<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="static/favicon.ico">

    <title>Mycroft</title>

    <link rel="stylesheet" href="static/lib/bootswatch/slate/bootstrap.min.css" />
    <link rel="stylesheet" href="static/style.css" />

    <script src="static/lib/jquery/dist/jquery.min.js"></script>
    <script src="static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
</head>

<body>
    <div id="projects" class="col-sm-6">
        <h2>Mycroft projects:
            <button class="btn btn-default pull-right" id="add"><i class="glyphicon glyphicon-plus" style="top: 0"></i></button>
        </h2>
        {% for project in projects %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{project.full_name}}</strong>
                {% if project.web_url %}[ <a href="{{project.web_url}}">deployed</a> ]&nbsp; {% endif %}[ <a href="{{project.repo_url}}">git</a> ]
                <div class="pull-right">
                    <div class="dropdown" style="display: inline-block">
                        <button class="btn btn-default dropdown-toggle  btn-xs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Prev builds
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="Builds">
                            {% for build in project.builds %}
                            <li role="presentation"><a href='{{build.report}}'>{{build.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button class="run btn btn-primary btn-xs" data-project="{{project.name}}">run</button>
                </div>
            </div>
            <div class="panel-body">
                <ul class="events" id="{{project.name}}-events">
                    <li class="init">
                        {% if project.builds %}
                        <a href='{{project.builds[0].report}}'>Last report</a>:
                        <ul>
                            <li>{{project.builds[0].name}}</li>
                            <li><a href="artefacts/{{project.name}}.{{project.builds[0].timestamp}}.tgz">Artefact</a></li>
                            {% else %} No builds. {% endif %}
                        </ul>
                    </li>
                    <li class="git-info">Last commit:
                        <ul>
                            {% if project.builds %}
                            <li>Fetching latest commit info...
                                <img class="loader" src="static/loader.gif">
                            </li>
                            {% else %}
                                <li>New project</li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                <div class="dropdown pull-right" style="display: inline-block">
                    <button class="btn btn-default dropdown-toggle btn-xs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="Actions">
                        {% if project.release_action %}
                            <li role="presentation"><a href='#' data-project="{{project.name}}" class="release"><i class="glyphicon glyphicon-thumbs-up" style="top: 0; margin-right: 20px;"></i> Deploy as release</a></li>
                        {% endif %}
                        <li role="presentation"><a href='#' data-project="{{project.name}}" class="edit"><i class="glyphicon glyphicon-pencil" style="top: 0; margin-right: 20px;"></i> Edit</a></li>
                        <li role="presentation"><a href='#' data-project="{{project.name}}" class="delete"><i class="glyphicon glyphicon-remove" style="top: 0; margin-right: 20px;"></i> Delete</a></li>

                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="logs" class="col-sm-6 hide">
        <h2>&nbsp;</h2>
        <div class="panel panel-default" style="max-height: 1000px;">
            <div class="panel-heading">
                <strong>Current log</strong>
            </div>
            <div class="panel-body" style="overflow-y: auto; max-height: 100%;">
                <!-- <tt> -->
                    <tt id="log"></tt>
                <!-- </tt> -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="project-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add new project</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="Project">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repo" class="col-sm-2 control-label">Repository</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="repo" placeholder="https://git.developonbox.ru/group/project">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="url" class="col-sm-2 control-label">Deployed&nbsp;URL</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="url" placeholder="http://lets.developonbox.ru/alexey.nabrodov/mts-bootstrap/">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="branch" class="col-sm-2 control-label">Git&nbsp;Branch</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="branch" value="master">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="watchers" class="col-sm-2 control-label">Watchers</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="watchers" value="js-builds@maillist.dev.zodiac.tv">
                                <span id="helpBlock" class="help-block">Separated by "," (<a href="http://tools.ietf.org/html/rfc6068">RFC6068</a>)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fail_watchers" class="col-sm-2 control-label">Fail&nbsp;Watchers</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fail_watchers" placeholder="only_fails@dev.zodiac.tv">
                                <span id="helpBlock" class="help-block">Separated by "," (<a href="http://tools.ietf.org/html/rfc6068">RFC6068</a>)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deps" class="col-sm-2 control-label">Dependencies</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="deps" placeholder="module_a, module_b">
                                <span id="helpBlock" class="help-block">Separated by ",". This project run will be triggered by dependencies webhooks</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="release_action" class="col-sm-2 control-label">Release action</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="release_action" placeholder="cp -r /var/www/project /var/www/project-$lastBuild">
                                <span id="helpBlock" class="help-block">Bash command line. Use $lastBuild for build ID</span>
                            </div>
                        </div>

                        <!--
                            {
                                "name": "deploy",
                                "description": "Deploy",
                                "cmd": "cp -rv out/* /var/www/alexey.nabrodov/mts-bootstrap/",
                                "stop_on_fail": true
                            }
                        -->
                        <h4>Build steps:</h4>
                        <div id="steps">
                            <div class="buildstep">
                                <div class="form-group">
                                    <label for="bs_name" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="bs_name" placeholder="buildstep1">
                                    </div>
                                    <div class="col-sm-1 btn-holder">
                                        <button class="btn btn-default bs_up"><i class="glyphicon glyphicon-chevron-up"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="bs_desc" class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="bs_desc" placeholder="Build Step 1">
                                    </div>
                                    <div class="col-sm-1 btn-holder">
                                        <button class="btn btn-danger bs_delete"><i class="glyphicon glyphicon-remove"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="bs_cmd" class="col-sm-2 control-label">Command</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="bs_cmd" placeholder="npm install">
                                    </div>
                                    <div class="col-sm-1 btn-holder">
                                        <button class="btn btn-default bs_down"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <!-- <div class="checkbox"> -->
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="bs_stop"> Stop on fail
                                            </label>
                                        <!-- </div> -->
                                        <!-- <div class="checkbox"> -->
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="bs_disable"> Disabled
                                            </label>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-default" id="add_step">Add step</button>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="delete-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delete project</h4>
                </div>
                <div class="modal-body">
                    <p>Delete project: <span id="modal-name"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="delete">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</body>

</html>
