<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Mycroft</title>

    <link rel="stylesheet" href="static/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/style.css" />

    <script src="static/lib/jquery/dist/jquery.min.js"></script>
    <script src="static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
</head>

<body>
    <div id="preload">
        <img class="loader" src="static/loader.gif">
        <i class="glyphicon glyphicon-ok"></i>
        <i class="glyphicon glyphicon-remove"></i>
    </div>
    <p>Hello, my name is Adam Selen.</p>
    <p>
        Press "run" button or push into repository
    </p>
    <ul id="projects">
        {% for project in projects %}
        <li>{{project.name}}
            <button class="run btn btn-primary btn-xs" data-project="{{project.name}}">run</button>
            <div class="dropdown" style="display: inline-block">
                <button class="btn btn-default dropdown-toggle  btn-xs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Prev builds
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    {% for build in project.builds %}
                        <li role="presentation"><a href='{{build.report}}'>{{build.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
    <ul id="events"></ul>
</body>

</html>
