body {
    padding: 12px;
}

.success .status {
    color: lightgreen;
    font-weight: bold;
}

.fail {
    color: coral;
}

.loader {
    width: 16px;
    margin-left: 10px;
}

.events .glyphicon {
    margin-left: 12px;
}
